<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>布壳儿网</title>
		<link rel="stylesheet" type="text/css" href="/static/security/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="/static/security/css/admin.css"/>
	</head>
	<body class="buukle-add-body">
	<!--表单-->
	<form class="layui-form column-content-detail" id="workerJobLogsCrudForm">
		<!--hidden area-->
		<input type="hidden" name="id" th:attr="value = *@forDoller@*{record?.id}" />
		<div class="layui-tab">
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<div class="layui-form-item">
						<label class="layui-form-label">备注：</label>
						<div class="layui-input-block">
							<input type="text"  name="remark" th:attr="value = *@forDoller@*{record?.remark}" placeholder="remark" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--操作-->
		<div class="layui-form-item" style="padding-left: 10px;">
			<div class="layui-input-block">
				<!-- 自定义权限标签 -->
				<hp url="/workerJobLogs/saveOrEdit">
					<div id="saveOrEdit" class="layui-btn layui-btn-normal">提交</div>
				</hp>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				<div id="back" class="layui-btn layui-btn-primary">取消</div>
			</div>
		</div>
	</form>
	<script src="/static/security/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/security/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/security/plugin/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/security/js/jqueryValidate/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
	<script>
		layui.use(['jquery', 'layer','dialog'], function() {
			layer = layui.layer, $ = layui.jquery, dialog = layui.dialog;
            bindSaveOrEdit();
		});
		/** 绑定提交*/
        function bindSaveOrEdit() {
			var  validateLoin = $('#workerJobLogsCrudForm').validate({
				rules:{
				},
				messages:{
				}
			});
            $('#saveOrEdit').off().on('click',function () {
                var obj = $(this);
                banThis(obj,"保存中..");
				if(!validateLoin.form()){
					layer.msg("请按规则完成表单填写!");
					releaseThis(obj,"提交");
					return;
				}
                $.ajax({
					url:"/workerJobLogs/saveOrEdit",
					method:"post",
					dataType:"json",
					data:$('#workerJobLogsCrudForm').serialize(),
					success:function (data) {
						if(data.head.status == 'S'){
                            banThis(obj,"完成");
						    layer.msg('操作完成,3秒后将返回列表页...');
                            window.parent.refresh();
						    setTimeout(function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            },3000)
						}else{
                            layer.msg(data.head.msg);
                            releaseThis(obj,"提交");
						}
                    }
				})
            })
        }
	</script>
	</body>
</html>